/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* body {
    background: red;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #555;
}

a {
    color: white;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

/* ------------ HERO PART ----------------- */

#hero {
    background: gray;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
}

#hero h1, #hero h3 {
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
}

#hero h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

#hero a.btn {
    color: white;
    background-color: #131633;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    font-weight: bold;
    padding: 20px 46px;
    border: 2px solid white;
    border-radius: 8px;
}

#hero a.btn:hover {
    background-color: #2196f3;
}

/* ------------ FOOTER PART ----------------- */

footer {
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #284e7a, #000 100%);
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin: 0 8px;
}

footer ul li a {
    font-size: 36px;
    cursor: pointer;
}

footer p {
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 10px;
}

@media(max-width: 800px){
/* ---------- HERO ON MEDIA PART -------------- */
    #hero {
        min-height: 600px;
    }

    #hero h1 {
        font-size: 36px;
    }

    #hero h3 {
        font-size: 18px;
    }

    #hero a.btn {
        padding: 15px 40px;
    }

/* ------------ FOOTER ON MEDIA PART ----------------- */
    footer {
        padding: 80px 15px;
    }
}